.bg-dim-gray {
    background: #f5f5f5;
}

main>.container {
    margin-top: 64px;
    margin-bottom: 8px;
}

.bg-figure {
    background-color: #f9f9f9;
}

.grp {
    fill: #ffffff44;
    stroke: #00000099;
}

.axis {
    font-size: 16px;
    font-family: "Arial";
}

.axis line {
    stroke-width: 1;
    stroke: #33333344;
    stroke-dasharray: 4 2;
}

.labels {
    font-size: 20px;
    font-family: "Arial";
}

.bg-date-text {
    font-size: 8rem;
    font-family: "Arial";
    font-weight: bold;
    fill: #bbb;
    text-anchor: middle;
    dominant-baseline: middle;
}